<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Кусры валют{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
</head>
<body>
<div class="container">
    {% block content %}{% endblock %}
</div>
<footer class="container">
    {% block footer %}
        &copy; Copyright 2017 by Pavel Babushkin. <a href="/layout">Верстка страницы вакансий</a>
    {% endblock %}
</footer>

<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/Chart.min.js"></script>
<script type="text/javascript" src="/js/app.js"></script>

</body>
</html>