<!DOCTYPE html>
<html>
<head>
    <title>Точка - Вакансии</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/file-upload.css">
</head>
<body>

<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-xs-offset-1 header-logo-company">
                <img src="/assets/img/header-logo-company.png">
            </div>
            <div class="col-xs-2 col-xs-offset-6 header-phone">
                <div class="header-phone__number">8 800 2000 024</div>
                <div class="header-phone__description">горячая линия</div>
            </div>
            <div class="col-xs-2 col-xs-offset-1 header-login">
                <a href="#">
                    <span class="header-login__link">Войти</span>
                    <span class="header-login__sub">в интернет-банк</span>
                </a>
            </div>
            <div class="col-xs-1 header-logo-open">
                <a href="#"><img src="/assets/img/header-logo-open.png"></a>
            </div>
        </div>
    </div>
</header>

<section id="people-magic">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-1">
                <h1>
                    В команде Точки<br>
                    настоящие чудеса<br>
                    происходят между людьми
                </h1>
            </div>
        </div>
        <div class="people-magic__image"></div>
    </div>
</section>

<section id="start-work">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-1">
                <h2>
                    Начни работать<br>
                    в надёжной компании<br>
                    с духом стартапа
                </h2>
                <h3>
                    Мы верим, что только счастливые сотрудники<br>
                    могут сделать счастливыми клиентов.
                </h3>
                <div class="start-work__info">
                    <p>Горизонтальная структура, отсутствие строгих регламентов,<br>
                        дресс-кода, инструкций и бюрократии. Стабильная и белая зарплата.</p>
                    <p>Мы можем дать тебе многое и вместе перевернуть мир!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="vacancy">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-5">
                <h2>Вакансии</h2>
            </div>
            <div class="col-xs-2">
                <div class="dropdown vacancy-city">
                    <button type="button" class="vacancy-city__button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Екатеринбург
                    </button>
                    <ul class="dropdown-menu vacancy-city__dropdown">
                        <li><a href="#">Москва</a></li>
                        <li><a href="#">Санкт-Петербург</a></li>
                        <li><a href="#">Волгоград</a></li>
                        <li><a href="#">Воронеж</a></li>
                        <li><a href="#">Казань</a></li>
                        <li><a href="#">Краснодар</a></li>
                        <li><a href="#">Красноярск</a></li>
                        <li><a href="#">Нижний Новгород</a></li>
                        <li><a href="#">Новосибирск</a></li>
                        <li><a href="#">Омск</a></li>
                        <li><a href="#">Пермь</a></li>
                        <li><a href="#">Уфа</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row vacancy-list">
            <div class="col-xs-6 col-xs-offset-1">
                <h4>Менеджер по работе с клиентами</h4>
                <div class="vacancy-list__info">Мы ищем ребят, готовых сделать настоящее шоу
                    из скучного процесса открытия счёта. Мы ищем ребят,
                    готовых сделать настоящее шоу из скучного процесса
                    открытия счёта.
                </div>
            </div>
            <div class="col-xs-6 col-xs-offset-1">
                <h4>Менеджер по работе с партнерами</h4>
                <div class="vacancy-list__info">Нам нужны ребята, способные вкусно продавать наши услуги, искать
                    новых партнёров для продвижения Точки.
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-6 col-xs-offset-1">
                <h4>Программист Java</h4>
                <div class="vacancy-list__info">Нам нужен человек, который будет заниматься
                    разработкой лучшего интернет-банка для
                    предпринимателей на платформе Java EE.
                </div>
            </div>
            <div class="col-xs-6 col-xs-offset-1">
                <h4>Специалист дистанционного
                    обслуживания</h4>
                <div class="vacancy-list__info">Мы ищем человека, единственная задача которого —
                    делать клиентов счастливыми.
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-6 col-xs-offset-1">
                <h4>Программист Java</h4>
                <div class="vacancy-list__info">Нам нужен человек, который будет заниматься
                    разработкой лучшего интернет-банка для
                    предпринимателей на платформе Java EE.
                </div>
            </div>
            <div class="col-xs-6 col-xs-offset-1">
                <h4>Специалист дистанционного
                    обслуживания</h4>
                <div class="vacancy-list__info">Мы ищем человека, единственная задача которого — делать клиентов
                    счастливыми.
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row">
            <div class="col-xs-offset-1">
                <div class="vacancy-footer">
                    <a href="#" class="button button-vacancy">Все вакансии</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="quote">
    <div class="container">
        <div class="row">
            <div class="col-xs-offset-1 col-xs-14">
                <div id="quote-carousel" class="carousel slide" data-ride="carousel">
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-12">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <blockquote>
                                        Тебя проведут познакомят со всей командой, расскажут
                                        историю Точки и правила взаимодействия. Окружат
                                        заботой и теплом. У нас по-другому быть не может.
                                    </blockquote>
                                    <div class="quote-author__name">Константин Константинопольский</div>
                                    <div class="quote-author__position">разработчик</div>
                                    <div class="quote-author__photo">
                                        <div class="quote-author__photo_back">
                                            <img src="/assets/img/blockquote-man.png">
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <blockquote>
                                        Тебя проведут познакомят со всей командой, расскажут
                                        историю Точки и правила взаимодействия. Окружат
                                        заботой и теплом. У нас по-другому быть не может.
                                    </blockquote>
                                    <div class="quote-author__name">Константин Константинопольский</div>
                                    <div class="quote-author__position">разработчик</div>
                                    <div class="quote-author__photo">
                                        <div class="quote-author__photo_back">
                                            <img src="/assets/img/blockquote-man.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#quote-carousel" role="button" data-slide="prev"></a>
                    <a class="right carousel-control" href="#quote-carousel" role="button" data-slide="next"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="submit">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-2 submit-form text-center">
                <h2>Пора работать</h2>
                <form method="post">
                    <div>
                        <div class="submit-input__phone">
                            <span>+7</span>
                            <input type="text" placeholder="(000) 000 00 00">
                        </div>
                    </div>
                    <div>
                        <div class="submit-input__name">
                            <input type="text" placeholder="Ваше имя">
                        </div>
                    </div>

                    <div class="submit-input__file">
                        <div class="file-upload" data-name="file_preview" data-accept="image/*" data-type="file">
                            <label>
                                <input type="file" accept="*/*">
                                <span class="file-upload-button">
                                    Приложите резюме
                                </span>
                                <span class="file-upload-preview">
                                    <a href="#" class="remove" title="Удалить"></a>
                                </span>
                                <input type="hidden" name="file_preview" value="empty">
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="button button-submit">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-2">
                <h4>Информация</h4>
                <ul class="footer-menu">
                    <li><a href="#">Тарифы</a></li>
                    <li><a href="#">Банкоматы</a></li>
                    <li><a href="#">Правила банковского обслуживания</a></li>
                    <li><a href="#">Документы для открытия счёта</a></li>
                    <li><a href="#">Положение о филиале</a></li>
                    <li><a href="#">Работа в Точке</a></li>
                    <li><a href="#">Акция</a></li>
                    <li><a href="#">Полезное</a></li>
                </ul>
            </div>
            <div class="col-xs-5">
                <h4>Самое важное</h4>
                <ul class="footer-menu">
                    <li><a href="#">Быстрые расчет и удобный интернет-банк</a></li>
                    <li><a href="#">Зарплата сотрудникам</a></li>
                    <li><a href="#">Валютные сделки</a></li>
                    <li><a href="#">Оплата по картам</a></li>
                </ul>
            </div>
            <div class="col-xs-4">
                <h4>Контакты</h4>
                <div class="footer-contacts__phone">8 800 2000 024</div>
                <p class="footer-contacts__description">Бесплатный звонок по России</p>
                <a href="#" class="footer-contacts__feedback">Обратная связь</a>

                <ul class="footer-social">
                    <li><a href="#" title="Instagram"><i class="footer-social__instagram"></i></a></li>
                    <li><a href="#" title="Facebook"><i class="footer-social__facebook"></i></a></li>
                    <li><a href="#" title="ВКонтакте"><i class="footer-social__vkontakte"></i></a></li>
                    <li><a href="#" title="Twitter"><i class="footer-social__twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-2 footer-copyright col-xs-12">
                ПАО «Ханты-Мансийский банк Открытие». www.openbank.ru Генеральная лицензия Банка России №1971 от
                05.11.2014.<br>
                Филиал «Бизнес онлайн» ОГРН: 1028600001880 ИНН: 8601000666 Корреспондентский счёт: 30101810600000000999
                БИК: 044583999
            </div>
        </div>
    </div>
</footer>

<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/file-upload.js"></script>

</body>
</html>