{% extends "index" %}

{% block title %}Табло курсов валют{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Курсы валют</h1>
        <div class="row">
            <div class="col-xs-5">
                {% for rate in rates %}
                    <h3>{{ rate.currency }} <span
                                class="label label-primary">{{ rate.value|number_format(4, '.', ' ') }}</span></h3>
                {% endfor %}
            </div>
            <div class="col-xs-7">
                <div class="chart">
                    <canvas id="areaChart" style="height: 145px; width: 346px;" height="145" width="346"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}