.file-upload {
    display: inline-block;
    position: relative;
    width: 250px;
    height: 70px;
    padding-right: 0;
    padding-left: 0;
    border: 2px dashed #929090;
}

.file-upload:hover {
    border: 2px solid #929090;
}

.file-upload.hover {
    color: #babec6;
    border: 2px solid #babec6;
}

.has-error .file-upload {
    border-color: #a94442;
}

.has-warning .file-upload {
    border-color: #8a6d3b;
}

.has-success .file-upload {
    border-color: #3c763d;
}

.file-upload input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-upload label {
    display: block;

    text-align: center;
    border-radius: 3px;
}

.file-upload span.file-upload-button {
    line-height: 60px;
    color: #c7c4c4;
    font-size: 16px;
    cursor: pointer;
}

.file-upload.preview {

}

.file-upload span.file-upload-preview {
    display: none;
    height: 100%;
}

.file-upload.preview span.file-upload-preview {
    display: block;
}

.file-upload.preview span.file-upload-button {
    display: none;
}

.file-upload span.file-upload-preview img {
    max-width: 400px;
    max-height: 300px;
}

.file-upload span.file-upload-preview audio {
    margin-top: 30px;
}

.file-upload span.file-upload-preview span.fa {
    font-size: 30px;
    color: #5a5c5f;
    padding-top: 30px;
}

.file-upload.error span.file-upload-preview span.fa {
    color: #b3545b;
}

.file-upload span.file-upload-preview span.name {
    display: block;
    color: #231f20;
    line-height: 60px;
}

.file-upload.error span.file-upload-preview span.name {
    color: #b3545b;
}

.file-upload span.file-upload-preview a.remove {
    position: absolute;
    top: 24px;
    right: -24px;
    width: 7px;
    height: 12px;
    background: url(../img/trash.png) no-repeat;
    opacity: .5;
}

.file-upload span.file-upload-preview a.remove:hover {
    opacity: 1;
}