body {
    color: #232323;
}

a, a:hover {
    color: #232323;
}

/* HEADER */
header {
    background-color: #f7f3f3;
    height: 87px;
}

.header-logo-company {
    padding-top: 35px;
}

.header-phone, .header-login {
    padding-top: 33px;
    font-family: "Geometria";
    font-weight: bold;
}

.header-phone__number, .header-login__link {
    font-size: 16px;
    display: block;
    line-height: 20px;
}

.header-phone__description, .header-login__sub {
    font-size: 10px;
    display: block;
    line-height: 10px;
}

.header-logo-open {
    text-align: right;
}

/* PEOPLE MAGIC BLOCK */
#people-magic {
    height: 912px;
    box-shadow: inset 0 -30px 20px -20px #eaeaea;
    background: #f7f3f3;
}

.people-magic__image {
    background: url(../img/people-magic.png) 38px bottom no-repeat;
    height: 515px;
    margin-top: -66px;
}

#people-magic h1 {
    font-family: "Anglecia Pro Title";
    font-size: 88px;
    margin-top: 104px;
    line-height: 100px;
}

/* START WORK BLOCK */
#start-work {
    background-color: #fff;
}

#start-work > .container {
    height: 808px;
    background: url(../img/polyhedron.png) right bottom no-repeat;
}

#start-work h2 {
    font-family: "Anglecia Pro Title";
    font-size: 70px;
    margin-top: 137px;
    margin-bottom: 79px;
    line-height: 80px;
}

#start-work h3 {
    font-family: "Geometria";
    font-weight: bold;
    font-size: 26.3px;
    line-height: 34px;
}

.start-work__info {
    font-family: "Geometria";
    font-weight: 500;
    font-size: 16.4px;
    line-height: 23px;
    margin-top: 41px;
}

.start-work__info > p {
    margin: 25px 0;
}

/* VACANCY BLOCK */
#vacancy {
    background-color: #f7f3f0;
}

#vacancy h2 {
    margin-top: 72px;
    font-family: "Anglecia Pro Title";
    font-size: 70px;
    margin-bottom: 67px;
}

.vacancy-city {
    margin-top: 108px;
}

.vacancy-city__button {
    font-family: "Geometria";
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    border: none;
    border-bottom: 1px dashed #232323;
    background: none;
    padding: 0;
}

.vacancy-city__button:focus, .vacancy-city__button:active {
    outline: none;
}

.vacancy-city__dropdown {
    padding: 10px 40px;
    font-family: "Geometria";
    font-weight: 500;
    font-size: 16.4px;
    line-height: 34px;
    width: 270px;
    margin-left: -35px;
    margin-top: 22px;
    border-radius: 0;
    border: none;
    box-shadow: -5px -3px 10px rgba(0, 0, 0, 0.31);
}

.vacancy-city__dropdown > li {
    padding-left: 0;
}

.vacancy-city__dropdown > li > a {
    line-height: 34px;
    padding: 0;
}

.vacancy-city__dropdown > li > a:hover {
    background: none;
    text-decoration: underline;
}

.vacancy-list h4 {
    font-family: "Geometria";
    font-weight: bold;
    font-size: 26.3px;
    line-height: 34px;
    margin-top: 0;
    margin-bottom: 25px;
}

.vacancy-list__info {
    font-family: "Geometria";
    font-weight: 500;
    font-size: 16.4px;
    line-height: 24px;
    margin-bottom: 90px;
    padding-right: 70px;
}

.vacancy-footer {
    margin-top: -13px;
    margin-bottom: 75px;
}

.button {
    font-family: "Geometria";
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #232323;
    display: inline-block;
    text-align: center;
    padding-top: 13px;
    background: none;
    border: none;
}

.button:hover {
    color: #232323;
    text-decoration: none;
}

.button-vacancy {
    background: url(../img/button-back.png) no-repeat;
    width: 263px;
    height: 74px;
    margin-left: -8px;
}

/* QUOTE BLOCK */
#quote {
    height: 756px;
}

#quote .carousel {
    margin-top: 148px;
}

#quote-carousel .item {
    text-align: center;
}

#quote-carousel blockquote {
    position: relative;
    margin: 0;
    padding-top: 115px;
    font-family: "Geometria";
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
}

#quote-carousel blockquote:before {
    position: absolute;
    top: 15px;
    content: '';
    left: 60px;
    right: 60px;
    height: 2px;
    background: #232323;
}

#quote-carousel blockquote:after {
    position: absolute;
    top: 0;
    content: '';
    width: 160px;
    height: 22px;
    left: 50%;
    margin-left: -80px;
    background: #fff url(../img/blockquote.png) center center no-repeat;
}

.quote-author__name {
    font-family: "Geometria";
    font-weight: bold;
    font-size: 16px;
    line-height: 34px;
    margin-top: 35px;
}

.quote-author__position {
    font-family: "Geometria";
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.quote-author__photo {
    margin-top: 31px;
    position: relative;
    height: 100px;
}

.quote-author__photo img {

}

.quote-author__photo_back {
    background: #fff;
    width: 160px;
    position: absolute;
    left: 50%;
    margin-left: -80px;
}

.quote-author__photo:before {
    position: absolute;
    bottom: 48px;
    content: '';
    height: 2px;
    left: 60px;
    right: 60px;
    background: #232323;
}

#quote-carousel .carousel-control {
    background: none;
}

#quote-carousel .carousel-control.left {
    background: url(../img/arrow-left.png) left 43% no-repeat;
}

#quote-carousel .carousel-control.right {
    background: url(../img/arrow-right.png) right 43% no-repeat;
}

/* SUBMIT BLOCK */
#submit {
    background-color: #f7f3f0;
    padding: 252px 0 150px;
}

.submit-form {
    border: 2px solid #232323;
    text-align: center;
}

.submit-form h2 {
    padding: 0 100px;
    display: inline-block;
    margin-top: -50px;
    font-family: "Anglecia Pro Title";
    font-size: 70px;
    line-height: 80px;
    background-color: #f7f3f0;
    margin-bottom: 0;
}

.submit-form > form {
    padding: 89px 0 75px;
}

.submit-form > form input:focus,
.submit-form > form input:active {
    outline: none;
}

.submit-form > form input::-webkit-input-placeholder {
    color: #c7c4c4;
}

.submit-form > form input::-moz-placeholder {
    color: #c7c4c4;
}

.submit-form > form input:-moz-placeholder {
    color: #c7c4c4;
}

.submit-form > form input:-ms-input-placeholder {
    color: #c7c4c4;
}

.submit-input__phone,
.submit-input__name {
    display: inline-block;
    width: 250px;
    margin-bottom: 40px;
    border-bottom: 2px solid #232323;
    font-family: "Geometria";
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}

.submit-input__phone > input {
    width: 175px;
    background: none;
    border: none;
    padding: 5px 0;
}

.submit-input__name > input {
    text-align: center;
    background: none;
    border: none;
    width: 100%;
    padding: 5px 0;
}

.submit-input__file {
    margin-top: 10px;
}

.button-submit {
    background: url(../img/button-send-back.png) 0 15px no-repeat;
    width: 263px;
    height: 80px;
    padding-top: 0;
    margin-top: 85px;
}

/* FOOTER BLOCK */
footer {
    padding-top: 146px;
    background-color: #f7f3f0;
    font-family: "Geometria";
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
}

footer h4 {
    font-weight: normal;
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 32px;
    margin-top: 0;
}

footer ul.footer-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 59px;
}

.footer-contacts__phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
}

.footer-contacts__description {
    margin: 0;
}

.footer-contacts__feedback {
    font-weight: bold;
    font-size: 18px;
    line-height: 58px;
    border-bottom: 1px dashed #232323;
}

.footer-contacts__feedback:hover {
    text-decoration: none;
}

.footer-social {
    list-style: none;
    padding: 0;
    margin-top: 77px;
    margin-left: 5px;
}

.footer-social > li {
    float: left;
    width: 26px;
    height: 26px;
    margin-right: 5px;
}

.footer-social > li > a > i {
    display: inline-block;
    width: 26px;
    height: 26px;
}

.footer-social__instagram {
    background: url(../img/social-icons.png) 0 0 no-repeat;
}

.footer-social__facebook {
    background: url(../img/social-icons.png) -32px 0 no-repeat;
}

.footer-social__vkontakte {
    background: url(../img/social-icons.png) -64px 0 no-repeat;
}

.footer-social__twitter {
    background: url(../img/social-icons.png) -96px 0 no-repeat;
}

.footer-copyright {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 68px;
}